
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right ,#ade8f4,#c8b6ff,#3f37c9,#5c677d,#3f37c9,#c8b6ff,#ade8f4);
     display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: fit-content;
    width: fit-content;
    text-align: center;
  
}

button{
    height: 40px;
    width: 80px;
    background-color: #9d4edd;
    color: bisque;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 15px black;
   
}

.Reset{
    height: 40px;
    width: 80px;
    background-color: #eb7070;
    color: rgb(0, 0, 0);
    margin: 5px 0px 20px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 15px black;
}

.counter{
   height: 300px;
   width: 300px;
    font-size: 150px;
    margin-bottom: 0px;
    background-color: #979dac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    box-shadow: 0px 10px 15px black;
    
}


.Reset:hover{
    transform: translateY(-3px);
}

button:hover{
    transform: translateY(-3px);
    
}

